# Copyright (C) Daniel Stenberg, <daniel@haxx.se>, et al.

name: pyspelling

'on':
  push:
    branches:
      - master
    paths:
      - '**.md'
  pull_request:
    branches:
      - master

concurrency:
  group: ${{ github.workflow }}-${{ github.event.pull_request.number || github.sha }}
  cancel-in-progress: true

permissions: {}

jobs:
  check:
    name: 'check'
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
        with:
          persist-credentials: false

      - name: 'install'
        run: |
          sudo rm -f /etc/apt/sources.list.d/{azure-cli.sources,microsoft-prod.list,ondrej-ubuntu-php-noble.sources}
          sudo apt-get -o Dpkg::Use-Pty=0 update
          sudo apt-get -o Dpkg::Use-Pty=0 install aspell aspell-en
          python3 -m venv ~/venv
          ~/venv/bin/pip --disable-pip-version-check --no-input --no-cache-dir install --progress-bar off --prefer-binary \
            -r .github/workflows/requirements.txt

      - name: 'check spelling'
        run: |
          source ~/venv/bin/activate
          aspell --version
          pyspelling --version
          pyspelling --verbose --jobs 5 --config pyspelling.yaml
