# Copyright (C) Daniel Stenberg, <daniel@haxx.se>, et al.

name: verify-titles

'on':
  push:
    branches:
      - master
    paths:
      - '**.md'
  pull_request:
    branches:
      - master

concurrency:
  group: ${{ github.workflow }}-${{ github.event.pull_request.number || github.sha }}
  cancel-in-progress: true

permissions: {}

jobs:
  check:
    name: 'check'
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
        with:
          persist-credentials: false

      - name: build pdf
        run: .github/scripts/verify-titles.pl SUMMARY.md
